{% extends 'promo/index.html' %}

{% block title %}Prediction form{% endblock %}

{% block body %}
  <form class="mt-4" method="post"> {% csrf_token %}
  <div class="mb-3">
    <label for="budget" class="form-label">Budget</label>
    <input type="number" class="form-control" id="budget" name="budget" aria-describedby="budget" required>
    <div id="budgetD" class="form-text">Budget on promotion plan</div>
  </div>
  <button type="submit" class="btn btn-primary mt-2">Submit</button>
</form>
{% endblock %}